@font-face {
  font-family: 'PremierLeague';
  src: url('./assets/fonts/Premier-League-Bold.otf') format('opentype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
}